body {
  margin: 0;
  background-color: #F9FAFF;
  font-size: 20px;
  line-height: 1.5;
  @extend %rubik-400;
  color: $dark;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-animation {
  border-radius: 5px;
  transition: box-shadow 0.4s, color 0.4s, text-shadow 0.4s, text-decoration 0.4s;
}

.text-animation:focus {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.text-animation:hover {
  color: $brand-color;
}

.text-animation:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  color: $darkBlue;
}

.text-decoration {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.button-animation {
  background-color: $brand-color;
  color: #fff;
  border-radius: 6px;
  transition: box-shadow 0.4s, background-color 0.4s, color 0.4s;
}

.button-animation:focus {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  background-color: rgba(255, 122, 80, 0.1);
  color: $brand-color;
}

.button-animation:hover {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
  color: $brand-color;
}

.button-animation:active {
  color: $brand-color;
  background-color: rgba(255, 122, 80, 0.1);
  box-shadow: none;
}

.svg-animation {
  transition: fill 0.4s, stroke 0.4s;
}

.title {
  @extend %rubik-500;
  font-size: 36px;
  color: $darkBlue;
}